<?xml version="1.0"?>
<configuration>
   <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
   </startup>
  <system.serviceModel>
    <bindings>
    <basicHttpBinding>
      <binding name="BasicHttpBinding_IFileTransferService" 
               maxReceivedMessageSize="10067108864" 
               messageEncoding="Mtom" 
               transferMode="Streamed"/>
    </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/FileService/mex" 
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IFileTransferService" 
                contract="FileTransferServiceReference.IFileTransferService" 
                name="BasicHttpBinding_IFileTransferService"/>
   </client>
  </system.serviceModel>
</configuration>